{% extends "bootstrap/base.html" %}

{% block title %} About {% endblock %}

{% block navbar %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary"">
  <a class="navbar-brand" href="/">Big League Prophet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/players">Players</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/prediction-models">Prediction Leaderboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
{% endblock %}


{% block content %}

<h1>How predictions are calculated</h1>

<p>
Predictions are calculated through the usage of different models using the python library sklearn. Data is gathered from ESPN, USA Today, and crunchtimebaseball.com. Website is built using flask-bootstrap. 
</p>

<h3>Average WAR model:</h3>
<p>
The Average WAR model correlates a player's average WAR before signing their active contract and the annual salary value of the contract they signed.
This model outputs predictions on the low end of expected salaries because a player is generally paid by recent success. 
</p>

<h3>Peak WAR model:</h3>
<p>
The Peak WAR model relates a player's peak WAR in a single season before signing their newest contract to the annual salary value of their active contract. 
</p>


<h3>Age model:</h3>
<p>
The Age model relates a player's age at signing their contract to the length of the contract.
</p>


{% endblock %}