{% extends "bootstrap/base.html" %}

{% block title %}Big League Prophet{% endblock %}

{% block navbar %}
{{nav.mynavbar.render()}}
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-3">Welcome to Big League Prophet!</h1>
    <p class="lead">Here you can find many predictions for Major League Baseball players like upcoming free agent salary predictions.</p>
    <hr class="my-4">
    <p>It utilizes data obtained from ESPN for player stats, USA Today for salary data, and crunchtimebaseball.com for player IDS, position, team, and birth year.</p>
    <p class="lead">
    <a class="btn btn-primary btn-md" href="/about" role="button">Learn more</a>
    </p>
  </div>
{% endblock %}
