{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary"">
  <a class="navbar-brand" href="/">Big League Prophet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/players">Players</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/prediction-models">Prediction Leaderboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
{% endblock %}

{% block content %}

<h1 class="w-50 m-3 text-primary">Player Search </h1>

<container>
  <div class="row justify-content-md-start">
    <div class="col-2 ml-3">
      {{ wtf.quick_form(form) }}
    </div>
  </div>

  <h1 class="m-3 text-primary">Top Results</h1>
  <div class="row justify-content-start">
    <div class="col-2">
      <div class="list-group">
        {% if result %}
        {% for row in result %}
        <a href="{{ '/players/id/%s'%row['espn_id'] }}" % {{row['espn_id']}}) class="list-group-item list-group-item-action ml-3">{{row['name']}}, {{row['team']}}, {{row['position']}}</a>
        {%endfor%}
        {%endif%}
      </div>
    </div>
  </div>
</container>

{% endblock %}